@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    font-family: 'Inter',sans-serif;
}

:root{
    --primary:white;
    --secondary:black;
    --third:#0000FF;
    --fourth:rgb(86, 81, 81);
    --fifth:#667085;
    --sixth:#1566d6;
    --seventh: rgb(238, 248, 245);
    --eight: rgb(248, 249, 248);
}

.section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.heading{
    font-size: 3.3em;
}

.heading-span{
    font-size: 1em;
    color: var(--third); 
}

.sub-heading{
    font-size: 1.4em;
    font-weight: 500;
}

.paragraph{
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 500;
}

.button1{
    padding: 20px 30px;
    border-radius: 100px;
    background-color: var(--third);
    border: none;
}

.button1-link{
    color: var(--primary);
}


.button2{
    padding: 20px 40px;
    border-radius: 100px;
    background-color: var(--primary);
    border: none;
    box-shadow: 0px 0px 1px;
}

.button2-link{
    font-size: 1.7em;
    font-weight: 500;
    color: var(--secondary);
}

.button2:hover a{
    background-color: var(--third);
    color: white;
}

.button2:hover {
    background-color: var(--third);
}

.button3{
    padding: 7px 10px;
    margin: 5px 10px 5px 0px;
    font-size: 1em;
    border-radius: 20px;
    background-color: var(--primary);
    box-shadow: 0px 0px 1.5px;
    color: var(--fifth);
    border: none;
}

.button3:hover{
    background-color: var(--sixth);
    color: var(--primary);
}
/* Navigation Bar  */

.navbar{
    box-shadow: 0px 0px 0.5px;
}

.navbar-section1{
    padding: 20px 0px 0px;
}

.navbar-main{
    display: flex;
}

.navbar-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.navbar-ul{
    display: flex;
    font-size: 1em;
    margin-right: 25px;
}

.navbar-li{
    padding: 30px 15px ;
}

.navbar-li:hover{
    border-bottom: 4px solid var(--third);
}

.navbar-link{
    color: var(--secondary);
}

/* Navigation Bar End  */


/* Main Section  */

.main{
    padding: 50px 0px;
}

.main-div{
    text-align: center;
}

.main-div p{
    font-size: 0.9em;
    margin-top: 40px;
}

.main-div h1{
    font-size: 4em;
    font-weight: 600;
    line-height: 1.1em;
    margin-top: 20px;
}

.main-div h3{
    margin: 40px 0px;
}

.main-section2{
    margin-top: 40px;
}

/* Main Section End  */


/* Second Section  */

.analyzes{
    margin-top: 100px;
    padding: 50px;
}

.analyzes h1{ 
    margin: 40px 0px;
}

.analyzes-section1{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.analyzes-section2{
    display: flex;
    margin: 30px 0px;
}

.analyzes-part1{
    margin-right: 40px;
}

.analyzes-box{
    display: flex;
    height: 180px;
    width: 525px;
    box-shadow: 0px 0px 1px var(--third);
    border-radius: 15px;
}

.analyzes-box h3{
    margin-bottom: 20px;
}

.analyzes-box-img{
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.analyzes-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#analyzes-box2{
    margin: 30px 0px;
    background-color: rgb(248, 249, 248);
}

#analyzes-box3{
   background-color: rgb(238, 248, 245);
}

/* Second Section End  */



/* Third Section  */

.jarvis-info{
    margin: 100px 0px;
    padding: 80px;
    background-color: rgb(242, 246, 245);
}

.info-section1 p{
    margin: 35px 0px;
}
.info-section2{
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.info-stats{
    color: var(--third);
}

/* Third Section End  */


/* Fourth section  */
.serve-main{
    display: flex;
}

.serve-section1{
    display: flex;
    flex-direction: column;
}

.image-conatiner1{
    position: relative;
    margin: 50px;
}


.serve-img2{
    position: absolute;
    z-index: -1;
}

.serve-img2:hover{
    z-index: 1;
}

/* Fourth section End  */


/* Fifth section  */
.partner-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 100px 0px;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.card-container{
    padding-block: 5rem;
}

.card-content{
    margin-inline: 1.7rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.partners-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60vh;
}

.partners-content{
    display: flex;
    justify-content: space-evenly;
}

.partners-section{
    display: flex;
}

.partner{
    height: 90px;
    width: 186px;
    box-shadow: 0px 0px 1px var(--secondary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.slidder-buttons{
    display: flex;

}
/* Fifth section End */


/* Sixth section */
.collab-main{
    margin-bottom: 100px;
}

.collab-heading{
    text-align: center;
    margin: 50px 0px;
}

.collab-heading h1{
    margin: 15px 0px;
}

.collab-section{
    display: flex;
    justify-content: center;
}

.collab-img{
    margin: 20px;
    filter: grayscale(1);
}

.collab-img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: all 0.5s ease;
}
/* Sixth section End */


/* Seventh section  */

.media-main{
    margin: 50px 0px;
}
.media-heading{
    text-align: center;
    margin: 50px 0px;
}

.media-section{
    display: flex;
}

.media{
    height: 90px;
    width: 200px;
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    filter: grayscale(1);
    justify-content: center;
    align-items: center;
}

.media-img{
    max-width: 100%;
}

.media:hover{
    filter: grayscale(0);
}
/* Seventh section End  */

/* Contact Section  */

.contact-main{
    padding: 100px 0px;
}
.contact-form{
    display: flex;
    width: 80%;
    border: 1px solid var(--third);
    border-radius: 20px;
}

.contact-container1{
    width: 27%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--sixth);
    color: var(--primary);
    border-radius: 20px 0px 0px 20px;
}

.phone-icon{
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, .2);
    padding: 50px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-container2{
    padding: 50px;
}

.contact-buttons-section{
    display: flex;
}

.buttons-section{
    margin-bottom: 40px;
}

.contact-section{
    display: flex;
    padding: 10px 0px;
}

.input-label{
    font-size: 0.87em;
}

.input-section{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.user-input{
    padding: 10px;
    font-size: 1em;
    width: 360px;
    color: var(--fifth);
    border: none;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    margin-top: 5px;
}

.phone-number{
    display: flex;
    width: 360px;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 1.5px;
    margin-top: 5px;
    border-radius: 5px;
}

.phone-select{
    border: none;
    font-size: 1em;
    padding: 8.5px;
    border-radius: 6px;
}

.phone-input{
    font-size: 1em;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 6px;
}

.textarea-section{
    display: flex;
    flex-direction: column;
}

.textarea{
    width: 740px;
    height: 148px;
    font-size: 1em;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    margin-top: 5px;
    resize: vertical;
}

.start-button{
    width: 98%;
    padding: 20px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
    color: var(--primary);
    background-color: var(--sixth);
    border: none;
    margin-top: 20px;
}
/* Contact Section End  */

/* Footer Section */
.footer-main{
    display: flex;
    flex-direction: column;
    background-color: var(--eight);
    color: var(--fifth);
}
.footer{
    margin: 0px 150px;
    padding: 50px 0px;
}
.footer-headings{
    font-weight: 500;
    color: var(--secondary);
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.footer-section1{
    padding: 40px 0px;
    border-bottom: 0.5px solid var(--fifth);
}
.footer-section2{
    padding: 50px 0px 30px;
}

.footer-section2 h3{
    padding-bottom: 10px;
}
.footer-section2 ul li{
    padding: 10px 0px;
    font-size: 0.9em;
    font-weight: 500;
}
.footer-section2 ul li a{
    color: var(--fifth);
}
.footer-section2-part3 p{
    padding: 5px 0px;
}
.footer-section3{
    padding: 30px 0px;
}
.footer-content{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer-img{
    margin-right: 15px;
}

.footer-section4{
    background-color: var(--seventh);
    padding: 50px 150px;
}
.footer-section4 h3{
    font-size: 1.1em;
    font-weight: 500;
}
/* Footer Section End */