@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    font-family: 'Inter',sans-serif;
}

:root{
    --primary:white;
    --secondary:black;
    --third:rgb(76, 76, 201);
    --fourth:rgb(86, 81, 81);
}

.heading{
    font-size: 3.3em;
}

.heading-span{
    font-size: 1em;
    color: var(--third); 
}

.sub-heading{
    font-size: 1.4em;
    font-weight: 500;
}

.paragraph{
    font-size: 1em;
    line-height: 1.7em;
}

.button1{
    padding: 20px 30px;
    border-radius: 100px;
    background-color: var(--third);
    border: none;
}

.button1-link{
    color: var(--primary);
}


.button2{
    padding: 25px 50px;
    border-radius: 100px;
    background-color: var(--primary);
    border: none;
    box-shadow: 0px 0px 1px;
}

.button2-link{
    font-size: 1.7em;
    font-weight: 500;
    color: var(--secondary);
}

.button2:hover a{
    background-color: var(--third);
    color: white;
}

.button2:hover {
    background-color: var(--third);
}


/* Navigation Bar  */

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 0.5px;
}

.navbar-main{
    display: flex;
}

.navbar-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.navbar-ul{
    display: flex;
    font-size: 1em;
    margin-right: 25px;
}

.navbar-li{
    padding: 0px 15px;
}

.navbar-link{
    color: var(--secondary);
}

/* Navigation Bar End  */


/* Main Section  */

.main{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.main-div{
    text-align: center;
}

.main-div p{
    font-size: 0.9em;
    margin-top: 40px;
}

.main-div h1{
    font-size: 4em;
    font-weight: 600;
    line-height: 1.1em;
    margin-top: 20px;
}

.main-div h3{
    margin: 40px 0px;
}

.main-section2{
    margin-top: 40px;
}

/* Main Section End  */


/* Second Section  */

.analyzes{
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.analyzes h1{ 
    margin: 40px 0px;
}

.analyzes-section1{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.analyzes-section2{
    display: flex;
    margin: 30px 0px;
}

.analyzes-part1{
    margin-right: 40px;
}

.analyzes-box{
    display: flex;
    height: 180px;
    width: 525px;
    box-shadow: 0px 0px 1px var(--third);
    border-radius: 15px;
}

.analyzes-box h3{
    margin-bottom: 20px;
}

.analyzes-box-img{
    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.analyzes-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#analyzes-box2{
    margin: 30px 0px;
    background-color: rgb(248, 249, 248);
}

#analyzes-box3{
   background-color: rgb(238, 248, 245);
}

/* Second Section End  */



/* Third Section  */

.jarvis-info{
    width: 100%;
    margin: 100px 0px;
    padding: 80px;
    background-color: rgb(242, 246, 245);
    display: flex;
    justify-content: center;
}

.info-section1 p{
    margin: 35px 0px;
}
.info-section2{
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.info-stats{
    color: var(--third);
}

/* Third Section End  */